.feed__photos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feed__photos-photo{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed__photos-photo img:hover {
    transform: scale(1.2);
    transition: transform 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.feed__photos-photo img {
    transition: transform 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.feed__navbar{
    display: block;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 black;
    width: 100%;
    margin: 20px;
}

.feed__navbar .feed__navbar__navbar-item{
    font-size: 18px;
    padding: 0 20px;
    cursor:pointer;
}



.feed__navbar .feed__navbar__navbar-item.selected{
    color: var(--primary-color);
    font-weight: bold;
    transition: all 0.1s linear;
}

